.git
tmp/
database_folder/Starships/cargo/nlr/faa/faa
database_folder/Starships/cargo/fre/faa/faa
database_folder/Starships/cargo/plp/faa/faa
database_folder/Starships/cargo/duf3723/faa/faa
database_folder/Starships/captain/tyr/faa/faa
database_folder/Starships/ships/faa/faa
database_folder/Starships/captain/tyr/fna/fna
database_folder/Starships/ships/fna/fna
src/data/db