.git
.github
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
*.egg-info/
.installed.cfg
*.egg
tmp/
alembic/
alembic.ini
.cache
src/data/db.tar.gz
src/database/db/*
*.db
*.sqlite
*.sqlite3