@font-face {
  font-family: "Strasua";
  src: url("/assets/strasua.woff") format("woff"),
    url("/assets/strasua.woff2") format("woff2");
}

/* Logo font */
.logo-text {
  font-family: "Strasua", sans-serif;
}

/* Table styles */
.dash-table-container .row {
  display: block;
  margin: 0;
}

/* Form elements */
.form-control {
  padding: 10px;
}

.upload-box {
  width: 100%;
  min-height: 60px;
  height: auto;
  line-height: 1.5;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  padding: 1rem;
  box-sizing: border-box;
}

/* Loading indicator */
.dash-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Auto-resizing images */
.auto-resize-750 {
  width: 100%;
  max-width: 750px;
  height: auto;
}

/* Responsive layout for title group */
.responsive-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    .responsive-group {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        gap: 1rem !important;
    }
    
    .responsive-group .mantine-Title-root {
        text-align: center !important;
    }
}