@font-face {
  font-family: "Strasua";
  src: url("/assets/strasua.woff") format("woff"),
    url("/assets/strasua.woff2") format("woff2");
}

/* Apply the custom font to specific elements */
.logo-text {
  font-family: "Strasua", sans-serif;
}

.nav-item-link {
  margin-left: 20px;
  display: flex;
  /* align-items: center; */
}

.nav-item-link .nav-link .nav-item-text {
  font-size: 1vw; /* Adjust font size as needed */
}
